<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Sampath Web Portal - ITP-2018-MLB-G3-10</display-name>
  <servlet>
  	<servlet-name>EmployeeRecruitment</servlet-name>
  	<display-name>EmployeeRecruitment</display-name>
  	<description>Human Resource Manager recuits new employees</description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.human_resource_manager.EmployeeRecruitment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.user_management.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OnlineEmployeeAccountController</servlet-name>
  	<display-name>OnlineEmployeeAccountController</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.human_resource_manager.OnlineEmployeeAccountController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActiveInactiveSearchEmployees</servlet-name>
  	<display-name>ActiveInactiveSearchEmployees</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.human_resource_manager.ActiveInactiveSearchEmployees</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActiveInactiveEmployeeManupulation</servlet-name>
  	<display-name>ActiveInactiveEmployeeManupulation</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.human_resource_manager.ActiveInactiveEmployeeManupulation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LeaveHandlingEmployee</servlet-name>
  	<display-name>LeaveHandlingEmployee</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.common_deeds.LeaveHandlingEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmailInboxController</servlet-name>
  	<display-name>EmailInboxController</display-name>
  	<description>Managing employee intracompany mail inbox</description>
  	<servlet-class>CONTROLLER_SERVLET.user_management.EmailInboxController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LeaveRequestEditing</servlet-name>
  	<display-name>LeaveRequestEditing</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.common_deeds.LeaveRequestEditing</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HRLeaveRequestManagement</servlet-name>
  	<display-name>HRLeaveRequestManagement</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.common_deeds.HRLeaveRequestManagement</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProfileDetailsEmployeeSide</servlet-name>
  	<display-name>UpdateProfileDetailsEmployeeSide</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.common_deeds.UpdateProfileDetailsEmployeeSide</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProfileDetailsHRSide</servlet-name>
  	<display-name>UpdateProfileDetailsHRSide</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.human_resource_manager.UpdateProfileDetailsHRSide</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerRegistrationController</servlet-name>
  	<display-name>CustomerRegistrationController</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.user_management.CustomerRegistrationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerRegistrationManagementController</servlet-name>
  	<display-name>CustomerRegistrationManagementController</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.user_management.CustomerRegistrationManagementController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EmployeeRecruitment</servlet-name>
  	<url-pattern>/EmployeeRecruitment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OnlineEmployeeAccountController</servlet-name>
  	<url-pattern>/OnlineEmployeeAccountController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActiveInactiveSearchEmployees</servlet-name>
  	<url-pattern>/ActiveInactiveSearchEmployees</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActiveInactiveEmployeeManupulation</servlet-name>
  	<url-pattern>/ActiveInactiveEmployeeManupulation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LeaveHandlingEmployee</servlet-name>
  	<url-pattern>/LeaveHandlingEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailInboxController</servlet-name>
  	<url-pattern>/EmailInboxController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LeaveRequestEditing</servlet-name>
  	<url-pattern>/LeaveRequestEditing</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HRLeaveRequestManagement</servlet-name>
  	<url-pattern>/HRLeaveRequestManagement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProfileDetailsEmployeeSide</servlet-name>
  	<url-pattern>/UpdateProfileDetailsEmployeeSide</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProfileDetailsHRSide</servlet-name>
  	<url-pattern>/UpdateProfileDetailsHRSide</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerRegistrationController</servlet-name>
  	<url-pattern>/CustomerRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerRegistrationManagementController</servlet-name>
  	<url-pattern>/CustomerRegistrationManagementController</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SearchForEmployee</servlet-name>
  	<display-name>SearchForEmployee</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.human_resource_manager.SearchForEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchForCustomers</servlet-name>
  	<display-name>SearchForCustomers</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.user_management.SearchForCustomers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmailComposeController</servlet-name>
  	<display-name>EmailComposeController</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.user_management.EmailComposeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmailOutboxController</servlet-name>
  	<display-name>EmailOutboxController</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.user_management.EmailOutboxController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.user_management.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SalaryInitiation</servlet-name>
  	<display-name>SalaryInitiation</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.human_resource_manager.SalaryInitiation</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SearchForEmployee</servlet-name>
  	<url-pattern>/SearchForEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchForCustomers</servlet-name>
  	<url-pattern>/SearchForCustomers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailComposeController</servlet-name>
  	<url-pattern>/EmailComposeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailOutboxController</servlet-name>
  	<url-pattern>/EmailOutboxController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SalaryInitiation</servlet-name>
  	<url-pattern>/SalaryInitiation</url-pattern>
  </servlet-mapping>


  <!-- ATHEEQ -->
  		<!-- START -->
  <servlet>
  	<servlet-name>validateLoginServlet</servlet-name>
  	<display-name>validateLoginServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.validateLoginServlet</servlet-class>
  </servlet>
 
  <servlet>
  	<servlet-name>RetreiveItemServlet</servlet-name>
  	<display-name>RetreiveItemServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.RetreiveItemServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>itemServlet</servlet-name>
  	<display-name>itemServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.itemServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>sampleServlet</servlet-name>
  	<display-name>sampleServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.sampleServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>individualItemServlet</servlet-name>
  	<display-name>individualItemServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.individualItemServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateItemServlet</servlet-name>
  	<display-name>updateItemServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.updateItemServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteItemServlet</servlet-name>
  	<display-name>deleteItemServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.deleteItemServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetNewItemIDServlet</servlet-name>
  	<display-name>GetNewItemIDServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.GetNewItemIDServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>insertNewItemServlet</servlet-name>
  	<display-name>insertNewItemServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.insertNewItemServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddAmountServlet</servlet-name>
  	<display-name>AddAmountServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.AddAmountServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RetreiveBranchItemServlet</servlet-name>
  	<display-name>RetreiveBranchItemServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.RetreiveBranchItemServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RequestItemServlet</servlet-name>
  	<display-name>RequestItemServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.RequestItemServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RetreiveRequestServlet</servlet-name>
  	<display-name>RetreiveRequestServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.RetreiveRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApproveItemServlet</servlet-name>
  	<display-name>ApproveItemServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.ApproveItemServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisapproveItemServlet</servlet-name>
  	<display-name>DisapproveItemServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.DisapproveItemServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RetreiveRestockingItem</servlet-name>
  	<display-name>RetreiveRestockingItem</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.RetreiveRestockingItem</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RetreiveHistoryServlet</servlet-name>
  	<display-name>RetreiveHistoryServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.RetreiveHistoryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RetreiveSearchItemServlet</servlet-name>
  	<display-name>RetreiveSearchItemServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.RetreiveSearchItemServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RetreiveSearchHistoryServlet</servlet-name>
  	<display-name>RetreiveSearchHistoryServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.RetreiveSearchHistoryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RetreiveSearchRequestServlet</servlet-name>
  	<display-name>RetreiveSearchRequestServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.RetreiveSearchRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GenerateReportHistoryServlet</servlet-name>
  	<display-name>GenerateReportHistoryServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.GenerateReportHistoryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GenerateReportItemList</servlet-name>
  	<display-name>GenerateReportItemList</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.GenerateReportItemList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GenerateReportRequestServlet</servlet-name>
  	<display-name>GenerateReportRequestServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.inventory_management.GenerateReportRequestServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>validateLoginServlet</servlet-name>
  	<url-pattern>/validateLoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>RetreiveItemServlet</servlet-name>
  	<url-pattern>/RetreiveItemServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>itemServlet</servlet-name>
  	<url-pattern>/itemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>sampleServlet</servlet-name>
  	<url-pattern>/sampleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>individualItemServlet</servlet-name>
  	<url-pattern>/individualItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateItemServlet</servlet-name>
  	<url-pattern>/updateItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteItemServlet</servlet-name>
  	<url-pattern>/deleteItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetNewItemIDServlet</servlet-name>
  	<url-pattern>/GetNewItemIDServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>insertNewItemServlet</servlet-name>
  	<url-pattern>/insertNewItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAmountServlet</servlet-name>
  	<url-pattern>/AddAmountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RetreiveBranchItemServlet</servlet-name>
  	<url-pattern>/RetreiveBranchItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RequestItemServlet</servlet-name>
  	<url-pattern>/RequestItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RetreiveRequestServlet</servlet-name>
  	<url-pattern>/RetreiveRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApproveItemServlet</servlet-name>
  	<url-pattern>/ApproveItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisapproveItemServlet</servlet-name>
  	<url-pattern>/DisapproveItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RetreiveRestockingItem</servlet-name>
  	<url-pattern>/RetreiveRestockingItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RetreiveHistoryServlet</servlet-name>
  	<url-pattern>/RetreiveHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RetreiveSearchItemServlet</servlet-name>
  	<url-pattern>/RetreiveSearchItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RetreiveSearchHistoryServlet</servlet-name>
  	<url-pattern>/RetreiveSearchHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RetreiveSearchRequestServlet</servlet-name>
  	<url-pattern>/RetreiveSearchRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GenerateReportHistoryServlet</servlet-name>
  	<url-pattern>/GenerateReportHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GenerateReportItemList</servlet-name>
  	<url-pattern>/GenerateReportItemList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GenerateReportRequestServlet</servlet-name>
  	<url-pattern>/GenerateReportRequestServlet</url-pattern>
  </servlet-mapping>
    	<!-- END -->
    <!-- ATHEEQ -->

  <!-- VINU -->
  		<!-- START -->
  		<servlet>
  	<servlet-name>transactServlet</servlet-name>
  	<display-name>transactServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.transaction_management.transactServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>transactionServlet</servlet-name>
  	<display-name>transactionServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.transaction_management.transactionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>transConfirmServlet</servlet-name>
  	<display-name>transConfirmServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.transaction_management.transConfirmServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<display-name>loginServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.transaction_management.loginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>transServlet</servlet-name>
  	<display-name>transServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.transaction_management.transServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>transHisServlet</servlet-name>
  	<display-name>transHisServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.transaction_management.transHisServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>accBalanceServlet</servlet-name>
  	<display-name>accBalanceServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.transaction_management.accBalanceServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>otherTransServlet</servlet-name>
  	<display-name>otherTransServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.transaction_management.otherTransServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>interServlet</servlet-name>
  	<display-name>interServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.transaction_management.interServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>intraConfirmServlet</servlet-name>
  	<display-name>intraConfirmServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.transaction_management.intraConfirmServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>searchServlet</servlet-name>
  	<display-name>searchServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.transaction_management.searchServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>showAllTransactDetailsServlet</servlet-name>
  	<display-name>showAllTransactDetailsServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.transaction_management.showAllTransactDetailsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>approveTransactservlet</servlet-name>
  	<display-name>approveTransactservlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.transaction_management.approveTransactservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>approveInterServlet</servlet-name>
  	<display-name>approveInterServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.transaction_management.approveInterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>approveIntraServlet</servlet-name>
  	<display-name>approveIntraServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.transaction_management.approveIntraServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>generateReportServlet</servlet-name>
  	<display-name>generateReportServlet</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.transaction_management.generateReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>transactServlet</servlet-name>
  	<url-pattern>/transactServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>transactionServlet</servlet-name>
  	<url-pattern>/transactionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>transConfirmServlet</servlet-name>
  	<url-pattern>/transConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>transServlet</servlet-name>
  	<url-pattern>/transServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>transHisServlet</servlet-name>
  	<url-pattern>/transHisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>accBalanceServlet</servlet-name>
  	<url-pattern>/accBalanceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>otherTransServlet</servlet-name>
  	<url-pattern>/otherTransServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>interServlet</servlet-name>
  	<url-pattern>/interServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>intraConfirmServlet</servlet-name>
  	<url-pattern>/intraConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>searchServlet</servlet-name>
  	<url-pattern>/searchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>showAllTransactDetailsServlet</servlet-name>
  	<url-pattern>/showAllTransactDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>approveTransactservlet</servlet-name>
  	<url-pattern>/approveTransactservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>approveInterServlet</servlet-name>
  	<url-pattern>/approveInterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>approveIntraServlet</servlet-name>
  	<url-pattern>/approveIntraServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>generateReportServlet</servlet-name>
  	<url-pattern>/generateReportServlet</url-pattern>
  </servlet-mapping>
  		
  		<!-- END -->
    <!-- VINU -->



  <welcome-file-list>
  	<welcome-file>UM_Homepage_Common.jsp</welcome-file>
  </welcome-file-list>
</web-app>
