<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Sampath Web Portal - ITP-2018-MLB-G3-10</display-name>
  <servlet>
  	<servlet-name>EmployeeRecruitment</servlet-name>
  	<display-name>EmployeeRecruitment</display-name>
  	<description>Human Resource Manager recuits new employees</description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.human_resource_manager.EmployeeRecruitment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.user_management.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OnlineEmployeeAccountController</servlet-name>
  	<display-name>OnlineEmployeeAccountController</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.human_resource_manager.OnlineEmployeeAccountController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActiveInactiveSearchEmployees</servlet-name>
  	<display-name>ActiveInactiveSearchEmployees</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.human_resource_manager.ActiveInactiveSearchEmployees</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActiveInactiveEmployeeManupulation</servlet-name>
  	<display-name>ActiveInactiveEmployeeManupulation</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.human_resource_manager.ActiveInactiveEmployeeManupulation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LeaveHandlingEmployee</servlet-name>
  	<display-name>LeaveHandlingEmployee</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.common_deeds.LeaveHandlingEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmailInboxController</servlet-name>
  	<display-name>EmailInboxController</display-name>
  	<description>Managing employee intracompany mail inbox</description>
  	<servlet-class>CONTROLLER_SERVLET.user_management.EmailInboxController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LeaveRequestEditing</servlet-name>
  	<display-name>LeaveRequestEditing</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.common_deeds.LeaveRequestEditing</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HRLeaveRequestManagement</servlet-name>
  	<display-name>HRLeaveRequestManagement</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.common_deeds.HRLeaveRequestManagement</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProfileDetailsEmployeeSide</servlet-name>
  	<display-name>UpdateProfileDetailsEmployeeSide</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.common_deeds.UpdateProfileDetailsEmployeeSide</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProfileDetailsHRSide</servlet-name>
  	<display-name>UpdateProfileDetailsHRSide</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.human_resource_manager.UpdateProfileDetailsHRSide</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerRegistrationController</servlet-name>
  	<display-name>CustomerRegistrationController</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.user_management.CustomerRegistrationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerRegistrationManagementController</servlet-name>
  	<display-name>CustomerRegistrationManagementController</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.user_management.CustomerRegistrationManagementController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EmployeeRecruitment</servlet-name>
  	<url-pattern>/EmployeeRecruitment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OnlineEmployeeAccountController</servlet-name>
  	<url-pattern>/OnlineEmployeeAccountController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActiveInactiveSearchEmployees</servlet-name>
  	<url-pattern>/ActiveInactiveSearchEmployees</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActiveInactiveEmployeeManupulation</servlet-name>
  	<url-pattern>/ActiveInactiveEmployeeManupulation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LeaveHandlingEmployee</servlet-name>
  	<url-pattern>/LeaveHandlingEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailInboxController</servlet-name>
  	<url-pattern>/EmailInboxController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LeaveRequestEditing</servlet-name>
  	<url-pattern>/LeaveRequestEditing</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HRLeaveRequestManagement</servlet-name>
  	<url-pattern>/HRLeaveRequestManagement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProfileDetailsEmployeeSide</servlet-name>
  	<url-pattern>/UpdateProfileDetailsEmployeeSide</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProfileDetailsHRSide</servlet-name>
  	<url-pattern>/UpdateProfileDetailsHRSide</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerRegistrationController</servlet-name>
  	<url-pattern>/CustomerRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerRegistrationManagementController</servlet-name>
  	<url-pattern>/CustomerRegistrationManagementController</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SearchForEmployee</servlet-name>
  	<display-name>SearchForEmployee</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.human_resource_manager.SearchForEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchForCustomers</servlet-name>
  	<display-name>SearchForCustomers</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.user_management.SearchForCustomers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmailComposeController</servlet-name>
  	<display-name>EmailComposeController</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.user_management.EmailComposeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmailOutboxController</servlet-name>
  	<display-name>EmailOutboxController</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.user_management.EmailOutboxController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.user_management.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SearchForEmployee</servlet-name>
  	<url-pattern>/SearchForEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchForCustomers</servlet-name>
  	<url-pattern>/SearchForCustomers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailComposeController</servlet-name>
  	<url-pattern>/EmailComposeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailOutboxController</servlet-name>
  	<url-pattern>/EmailOutboxController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>





  <welcome-file-list>
  	<welcome-file>UM_Homepage_Common.jsp</welcome-file>
  </welcome-file-list>
</web-app>
