<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Sampath Web Portal - ITP-2018-MLB-G3-10</display-name>
  <servlet>
  	<servlet-name>EmployeeRecruitment</servlet-name>
  	<display-name>EmployeeRecruitment</display-name>
  	<description>Human Resource Manager recuits new employees</description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.human_resource_manager.EmployeeRecruitment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.user_management.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OnlineEmployeeAccountController</servlet-name>
  	<display-name>OnlineEmployeeAccountController</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.human_resource_manager.OnlineEmployeeAccountController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActiveInactiveSearchEmployees</servlet-name>
  	<display-name>ActiveInactiveSearchEmployees</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.human_resource_manager.ActiveInactiveSearchEmployees</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActiveInactiveEmployeeManupulation</servlet-name>
  	<display-name>ActiveInactiveEmployeeManupulation</display-name>
  	<description></description>
  	<servlet-class>CONTROLLER_SERVLET.employee_hr_payroll_management.human_resource_manager.ActiveInactiveEmployeeManupulation</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EmployeeRecruitment</servlet-name>
  	<url-pattern>/EmployeeRecruitment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OnlineEmployeeAccountController</servlet-name>
  	<url-pattern>/OnlineEmployeeAccountController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActiveInactiveSearchEmployees</servlet-name>
  	<url-pattern>/ActiveInactiveSearchEmployees</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActiveInactiveEmployeeManupulation</servlet-name>
  	<url-pattern>/ActiveInactiveEmployeeManupulation</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  	<welcome-file>UM_Homepage_Common.jsp</welcome-file>
  </welcome-file-list>
</web-app>
